<% variants.each do |variant| %>
  <% if variant.relations.any? %>
    <table class="table sortable" data-hook="products_table" data-sortable-link="<%= update_positions_admin_product_relations_url(variant.product) %>">
      <caption><%= "Relations for Variant SKU: #{variant.sku} Option: #{variant.options_text}" %></caption>
      <colgroup>
        <col style="width: 3%" />
        <col style="width: 7%" />
        <col style="width: 8%" />
        <col style="width: 35%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
        <col style="width: 20%" />
        <col style="width: 2%" />
      </colgroup>
      <thead>
        <tr data-hook="products_header">
          <th></th>
          <th>SKU</th>
          <th>Related To Type</th>
          <th><%= Spree.t(:name) %></th>
          <th><%= Spree.t(:option) %></th>
          <th><%= Spree.t(:type) %></th>
          <th><%= Spree.t(:quantity) %>%></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% variant.relations.each do |relation| %>
            <tr id="<%= spree_dom_id relation %>" data-hook="products_row">
              <td class="handle move-handle">
                <% if Spree.version.to_d >= 4.2 && defined?(svg_icon) %>
                  <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
                <% else %>
                  <span class="icon icon-move handle"></span>
                <% end %>
              </td>
              <td><%= relation.related_to.sku  %></td>
              <td><%= relation.related_to_type %></td>
              <td><%= relation.related_to.name %></td>
              <td><%= relation.related_to.try(:options_text) %></td>
              <%# if defined? Spree::Frontend %>
              <%# binding.break %>
              <!-- <td><%#= link_to relation.related_to.name, relation.related_to %></td> -->
              <%# else %>
                <!-- <td><%#= link_to relation.related_to.name, admin_product_path(relation.related_to) %></td> -->
              <%# end %>
              <td><%= relation.relation_type.name %></td>
              <td>
                <%= form_for relation, url: admin_variant_relation_path(relation.relatable, relation) do |f| %>
                  <div class="input-group justify-content-center">
                    <%= f.text_field :quantity, class: 'form-control text-center my-1 w-20' %>
                    <span class="input-group-btn">
                      <%= f.button Spree.t(:update), type: 'submit', class: 'btn btn-primary m-1' %>
                    </span>
                  </div>
                <% end %>
              </td>
              <td class="actions">
                <%= link_to_delete relation, url: admin_variant_relation_url(relation.relatable, relation), no_text: true %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
